@import "config";

.claim_statistic{
    h3{
        font-size: 20px;
        text-align: center;
        opacity: .7;
    }
}
.claim_header_text{
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: rgba(15, 26, 64, 0.7);
}

.claim_statistic_body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}
.claim_statistic{
    h1{
        font-weight: 500;
    font-size: 40px;
    line-height: 50px;
    }
    h3{
        font-size: 20px;
        line-height: 30px;
    }
}
.claim_statistic_body_item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 20px;
    margin: 0 20px;
    
}
.claim_statistic_body_item:first-child{
    border-right: 1px solid rgba($color: #fff, $alpha: 0.25);
}
.claim_statistic_body_item:last-child{
    border-left: 1px solid rgba($color: #fff, $alpha: 0.25);
}
.claim_statistic_body_item_text{
    margin-top: 20px;
    width: 80%;
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}
.claim_statistic_body_item_title{
    font-weight: 500;
    font-size: 50px;
    line-height: 59px;
}
.claim_text_section{
    color: #0F1A40;
    text-align: center;
    h1{
        font-weight: 500;
        font-size: 40px;
        line-height: 47px;
    }
    h2{
        color: #1040E2;
        font-weight: 600;
        font-size: 34px;
        line-height: 41px;
    }
    div{
        opacity: .7;
        width: 68%;
        margin: 0 auto;
        font-size: 20px;
        line-height: 30px;
    }
}


.claim_section{
    background: #0F1A40;
    text-align: center;
    color: #fff;
}
.claim_section_title{
    div{
        width: 60%;
        margin: 0 auto;
        opacity: .7;
        text-align: center;
    }
    h1{
        font-weight: 500;
    font-size: 40px;
    line-height: 50px;
    }
    h2{
        font-size: 20px;
line-height: 30px;
    }
}

.claim_section_body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    margin-top: 70px;
}
.claim_section_item{
    width: 80%;
    margin: 0 auto;
    div{
        padding: 5px 0;
    }
}

.claim_form_left{
    h2{
        width: 90%;
    }
}

.claim_form_left_link{
    padding: 10px 0;
    color: #1040E2;
    font-weight: 500;
font-size: 16px;
line-height: 19px;
}
.claim_form_left_text{
    width: 95%;
    padding: 10px 0;
    border-top: 1px solid rgba($color: #0F1A40, $alpha: 0.1);
    border-bottom: 1px solid rgba($color: #0F1A40, $alpha: 0.1);
    font-size: 14px;
line-height: 20px;
}
.claim_form_left_text div:first-child{
    font-weight: bold;
font-size: 16px;
line-height: 19px;
    padding-bottom: 8px
}

.control_header_left{
    div{
        padding: 0!important;
    }
    img{
        width: 32px;
        height: 32px;
        margin-top: 0!important;
    }
}
.control_text1{
    font-size: 20px;
line-height: 30px;
}

.control_header_left div:last-child div{    
    display: flex;
    align-items: center;
}
.control_header_text{
    opacity: .7;
    margin: 10px 0;
}
.control_number{
    color:#1040E2;
    opacity: 1;
}
.control_section{
    color: #0F1A40;
    h1{
        text-align: center;
        font-weight: 500;
font-size: 40px;
line-height: 50px;
    }
    .subtext{
        opacity: .7;
        text-align: center;
        font-size: 20px;
line-height: 30px;
    }
}
.revise_text{
    font-size: 20px;
line-height: 30px;
color: rgba(15, 26, 64, 0.7);
}
.control_analitics_section{
    h1{
        text-align: center;font-weight: 500;
        font-size: 40px;
        line-height: 50px;
    }
}
.control_analitics_section_body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    width: 80%;
    margin: 0 auto;
    div{
        background: #fff;
        display: flex;
        align-items: center;
        padding: 10px;
        font-weight: 500;
font-size: 24px;
line-height: 32px;
    }
    div img{
        margin-right: 10px;
    }
}
.control_audit{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.control_audit div:last-child{
    margin-top: 10px;
}
.control_advantage_section h1{
    text-align: center;
    color: #0F1A40;
    font-weight: 500;
font-size: 40px;
line-height: 50px;
}
.control_advantage{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}
.control_advantage_col{
    border-bottom: 1px solid rgba($color: #0F1A40, $alpha: .2);
    padding: 10px;
    color: #0F1A40;
    .row-2, .row-3{
        display: flex;
        align-items: center;
        img{
            margin-right: 8px;
        }
    }
    .row-1{
        font-size: 16px;
line-height: 24px;
    }
    .row-3{
        opacity: .7;

    }
}
.row-2{
    font-weight: 500;
font-size: 16px;
line-height: 24px;
}
.row-3-1{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}
.control_audit_text{
    opacity: .7;
    font-size: 20px;
line-height: 30px;
}


.revise_section_body{
    grid-template-columns: 1fr 1fr 1fr;
}
.revise_step{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}
.revise_step2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}
.revise_two{
    align-self: flex-start;
}

.claim-right img{
    margin-top: -10%;
    height: 90%;
    text-align:end;
}
.img2{
    display: none;
}

.schem_work_section{
    display: none;
}

@media (max-width: 992px) {
    .control_analitics_section_body{
        width: 100%;
    }  
    .claim_text_section{
        h1{
            font-size: 32px;
        }
        h2{
            font-size: 26px;
        }
    }
    .claim_statistic_body_item:first-child{
        border-right: none;
    }
    .claim_statistic_body_item:last-child{
        border-left: none;
    }
    .img2{
        display: block;
    }
    .img1{
        display: none;
    }
    .claim_header_text{
        font-size: 16px;
    }
    .claim_statistic{
        h1{
            font-weight: 500;
        font-size: 28px;
        line-height: 26x;
        }
        h3{
            font-size: 20px;
            line-height: 30px;
        }
    }
    .claim_statistic_body_item_title{
        font-weight: 600;
font-size: 40px;
line-height: 48px;
    }
}

@media (max-width: 700px) {
    .swiper-container {
      height: 150px;
    }
    .claim_section_swiper{
        height: 270px;
    }
    .control_section .swiper-container, .revise_swiper{
        height: 180px;
    }
    .claim_statistic_body, .claim_section_body, .control_section_body, .revise_step, .revise_step2{
        display: none;
    }
    .control_advantage_section{
        overflow-x: scroll!important;
        // min-width: 700px!important;
    }
    .control_advantage{
        width: 700px;
    }
    .img2{
        display: none;
    }
    .img1{
        display: block;
    }
}

@media (max-width: 540px) {
    .control_analitics_section_body{
        grid-template-columns: 1fr;
    }  
    .claim-right img{
        margin-top: 10%;
    }
    .claim_section_swiper{
        height: 310px;
    }
    .schem_work_section{
        display: block;
    }
    .schem_work_swiper{
        height: 200px;
    }
    .claim_section_title{
        text-align: center;
    }
    .schem_work_swiper .claim_section_item{
        text-align: center;
        background: #F2F7FF;
        width: 90%;
        padding: 20px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
}
    .control_analitics_section_body_item{
        display: flex;
        flex-direction: column;
    }
    .control_audit_text{
        text-align: center;
    }
    .header_first{
        margin-bottom: 10px;
    }
}